 <div class="row">
                <div class="leftcolumn">
                    <div class="card">
                        <h2 id="Advice">Our Advice: How to Succeed in Online Classes During COVID-19</h2>
                        <p>
                            <ul>
                                <li><strong> 1. Avoid Distractions </strong></li>
                                <p> While being quarantined at home, it is quite difficult to eliminate distractions. You are essentially being asked to be a student while being surrounded by your loved ones and various diversions at all hours. It is crucial
                                    to your success as a student to set aside all of these distractions, and dedicate 100% of your attention towards your academics. This can include many things: putting aside your phone, blocking off all noises with headphones,
                                    and removing yourself from any situation that has the potential to avert your attention. </p>
                                <li><strong> 2. Manage Time Wisely</strong></li>
                                <p> Managing your time effectively as a student can be hard, but it is imperative in order to succeed and do well in your classes. It is extremely important to set aside a good chunk of your time everyday dedicated to work
                                    on homework and attend online lectures. It is easy to get distracted now that classes aren’t in person and ‘mandatory,’ but spending time learning the class material will make your life a lot easier as you tackle the
                                    assignments. Starting early on assignments and giving yourself enough time to successfully finish will take a lot of unnecessary stress off your shoulders as well. </p>
                                <li><strong>3. Stay Organized</strong></li>
                                <p> It is imperative to your prosperity as a student to stay organized, especially during these tough COVID-19 times. By maintaining the habit of staying organized will not only contribute to success in your grades, it will
                                    also help alleviate the stress and anxiety caused by college. There are many ways to implement organizational habits within your daily college routine, such as: writing down all assignments and important dates into
                                    a calendar or planner, setting alarms in order to wake up early, maintaining proper sleeping habits, creating reminders and notifications, writing out daily to-do lists, and several more.
                                </p>
                                <li> <strong>4. Reach Out for Help</strong></li>
                                <p> There are so many resources out there that many students do not know about. At every university, there is usually an academic center that will be more than happy to help, counselors, professors, TA’s, tutors, and your peers!
                                    Since most classes are on Zoom, if you recognize a student’s name in your class, you can reach out to them and create a connection that could help you in the future. Finding a solid study group can be so important for
                                    not only doing well in the class, but helping you stay motivated and positive. Reaching out to professors can be intimidating, but they are there to help and will be glad that you asked. Attend office hours and email
                                    your professors with questions. This could also create a crucial relationship that could result in a great letter of recommendation or proposed academic opportunities. </p>
                                <li><strong> 5. Be Patient with Yourself</strong></li>
                                <p> The biggest reminder that will help you through school this year: this is new to everyone! Everyone is having a hard time with this adjustment, not just you. This is such a difficult time so it is so important to be patient
                                    with yourself. Don’t be so hard on yourself if you get a bad grade on an exam or if you take the day off from school work to rest. Going from in-person classes to all online classes is extremely challenging. You are
                                    given so many additional things to undertake, on top of being a student. Remote learning is very new to the majority of us students, so we are all learning together. </p>
                                <li><strong> 6. Effective Study Spaces </strong></li>
                                <p> Having a proper study space is pivotal to your academic success. It is very difficult to be an efficient high-performing student if you are attending classes and working on homework while laying in bed. In order to create
                                    a a positive and productive working environment, you should separate yourself from your relaxing environment. This can mean working at a desk aside from your bed, setting up a chair in your backyard, visiting public
                                    locations such as coffee shops or libraries, or even relocating on a daily basis to keep things interesting. Your work space should contain all essential materials necessary for your courses, such as your textbooks,
                                    calculator, laptop charger, noise-cancelling headphones, writing utensils, and any other materials imperative for your success.
                                </p>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="leftcolumn">
                        <div class="card">
                            <h2 id="Resources">Helpful Resources to Aid in Your Academic Success</h2>
                            <p>
                                <ul>
                                    <li><strong> OSU Writing Center </strong></li>
                                    <p> The Oregon State University Writing Center offers students with writing and research consultations, grammar consultations, writing workshops, as well as general writing feedback. The writing center's consultants are
                                        able to provide aid on all kinds of writing projects, such as: research papers, resumes, cover letters, scholarship applications, and many others. The center is operating completely virtual due to the current pandemic,
                                        and requires a scheduled appointment.
                                        <br>Click the following link to schedule an appointment: <a href="https://osuwritingcenter.as.me/schedule.php"> OSU Writing Center </a> </br>
                                    </p>
                                </ul>
                                <ul>
                                    <li><strong> ASC Strategists </strong></li>
                                    <p> The OSU Academic Success Center provides students with the ability to meet with strategists. These strategists provide students with beneficial resources and tools to help them succeed in their academic endeavors. They
                                        also provide coaching in order to aid students to develop productive studying habits in order perform at their peek capabilities. If you are struggling to communicate with your professors, TA's, classmates, or anyone
                                        else, the strategists can also guide you in reaching out.
                                        <br> ASC Phone Number: 541-737-2272
                                        <br> ASC Text Number: 541-444-5906
                                        <br> ASC Email: success@oregonstate.edu
                                    </p>
                                </ul>

                                <ul>
                                    <li><strong> Student Tech Support Guide </strong></li>
                                    <p> Now that courses are taught completely virtual due to the pandemic protocols, it is imperative you learn how to work your way around Zoom and Canvas. The Student Tech Support Team provides assistance regarding using
                                        virtual learning technologies, as well as tech support to aid in any difficulties you may face. You can contact the OSU service desk over the phone or by submitting help requests.
                                        <br>Click the following link to Submit a Help Request: <a href="https://oregonstate.teamdynamix.com/TDClient/1935/Portal/Requests/TicketRequests/NewForm?ID=Dr9c0T7BaSI_"> OSU Service Desk </a>
                                        <br> Service Desk Number: 541-737-8787
                                    </p>
                                </ul>
                                <ul>
                                    <li><strong> Mathematics & Statistics Learning Center </strong></li>
                                    <p> The Mathematics & Statistics Learning Center at Oregon State University offers students with live as well as personalized tutoring. These tutors are comprised of graduate teaching assistants, highly-skilled undergraduate
                                        students, as well as OSU faculty members. The Mathematics & Statistics Learning Center is currently operating virtually due to COVID-19 protocol, tutoring is offered through Slack as well as over Zoom.
                                        <br>Click the following link to visit the MSLC: <a href="https://osu-mth.slack.com/"> OSU Mathematics & Statistics Learning Center </a> </br>
                                    </p>
                                </ul>
                                <ul>
                                    <li><strong> Counseling & Psychological Services </strong></li>
                                    <p> The OSU Counseling and Psychological Services (CAPS) provides mental health counseling to students. In order to facilitate academic success, it is important to make sure that your mental health comes first. The staff
                                        is comprised of professionals that expertise in specific fields that concerns the majority of college students. The staff includes: staff includes Psychologists, Clinical Social Workers, Professional Counselors,
                                        Pre-doctoral Residents completing the final stages of their doctoral training in Clinical or Counseling Psychology, Psychiatric Residents, and Master's students in Counselor Education.
                                        <br>Click the following link to visit CAPS: <a href="https://counseling.oregonstate.edu/main/about-us"> OSU Counseling & Psychological Services </a>
                                        <br> CAPS Phone Number: 541-737-2131
                                        <br> CAPS Email: caps@oregonstate.edu
                                        <br> Hours of Operation: Monday-Friday From 8am-5pm
                                    </p>
                                </ul>
                            </p>
                        </div>
                    </div>