        <div class="leftcolumn">
            <div class="card">
                <h2 id="About">How COVID-19 Changed Our Lives</h2>
                <h6>By: Hannah Maung, Gretel Rajamoney, Luke Bray, Zachary Smith</h6>
                <h6>Dec 6, 2020</h6>

                <img src="campus.jpg" alt="campus" width="1000" height="500">
                <p> Aceing classes is a difficult enough task in itself. But performing well in the midst of a global pandemic? Now that is a totally different story. The shift from in-person classes to completely remote classes during COVID-19 has been exceptionally
                    challenging for us all. Our team wanted to create this blog to share our personal experiences with online classes and remote learning at Oregon State University, as well as share some advice regarding how to succeed as a virtual student.
                    Scroll down to the 'Meet the Team' section, where you can read all of our personal experiences. We would love to hear about your personal experiences as a students during COVID-19. To share your experiences and read the experiences
                    of others please navigate to our 'Discussion' section.</p>
            </div>
        </div>