 <div class="row">
                <div class="leftcolumn">
                    <div class="card">
                        <h2 id="Advice">Our Advice: How to Succeed in Online Classes During COVID-19</h2>
                        <p>
                            <ul>
                                <li><strong> 1. Avoid Distractions </strong></li>
                                <p> While being quarantined at home, it is quite difficult to eliminate distractions. You are essentially being asked to be a student while being surrounded by your loved ones and various diversions at all hours. It is crucial
                                    to your success as a student to set aside all of these distractions, and dedicate 100% of your attention towards your academics. This can include many things: putting aside your phone, blocking off all noises with headphones,
                                    and removing yourself from any situation that has the potential to avert your attention. </p>
                                <li><strong> 2. Manage Time Wisely</strong></li>
                                <p> Managing your time effectively as a student can be hard, but it is imperative in order to succeed and do well in your classes. It is extremely important to set aside a good chunk of your time everyday dedicated to work
                                    on homework and attend online lectures. It is easy to get distracted now that classes aren’t in person and ‘mandatory,’ but spending time learning the class material will make your life a lot easier as you tackle the
                                    assignments. Starting early on assignments and giving yourself enough time to successfully finish will take a lot of unnecessary stress off your shoulders as well. </p>
                                <li><strong>3. Stay Organized</strong></li>
                                <p> It is imperative to your prosperity as a student to stay organized, especially during these tough COVID-19 times. By maintaining the habit of staying organized will not only contribute to success in your grades, it will
                                    also help alleviate the stress and anxiety caused by college. There are many ways to implement organizational habits within your daily college routine, such as: writing down all assignments and important dates into
                                    a calendar or planner, setting alarms in order to wake up early, maintaining proper sleeping habits, creating reminders and notifications, writing out daily to-do lists, and several more.
                                </p>
                                <li> <strong>4. Reach Out for Help</strong></li>
                                <p> There are so many resources out there that many students do not know about. At every university, there is usually an academic center that will be more than happy to help, counselors, professors, TA’s, tutors, and your peers!
                                    Since most classes are on Zoom, if you recognize a student’s name in your class, you can reach out to them and create a connection that could help you in the future. Finding a solid study group can be so important for
                                    not only doing well in the class, but helping you stay motivated and positive. Reaching out to professors can be intimidating, but they are there to help and will be glad that you asked. Attend office hours and email
                                    your professors with questions. This could also create a crucial relationship that could result in a great letter of recommendation or proposed academic opportunities. </p>
                                <li><strong> 5. Be Patient with Yourself</strong></li>
                                <p> The biggest reminder that will help you through school this year: this is new to everyone! Everyone is having a hard time with this adjustment, not just you. This is such a difficult time so it is so important to be patient
                                    with yourself. Don’t be so hard on yourself if you get a bad grade on an exam or if you take the day off from school work to rest. Going from in-person classes to all online classes is extremely challenging. You are
                                    given so many additional things to undertake, on top of being a student. Remote learning is very new to the majority of us students, so we are all learning together. </p>
                                <li><strong> 6. Effective Study Spaces </strong></li>
                                <p> Having a proper study space is pivotal to your academic success. It is very difficult to be an efficient high-performing student if you are attending classes and working on homework while laying in bed. In order to create
                                    a a positive and productive working environment, you should separate yourself from your relaxing environment. This can mean working at a desk aside from your bed, setting up a chair in your backyard, visiting public
                                    locations such as coffee shops or libraries, or even relocating on a daily basis to keep things interesting. Your work space should contain all essential materials necessary for your courses, such as your textbooks,
                                    calculator, laptop charger, noise-cancelling headphones, writing utensils, and any other materials imperative for your success.
                                </p>
                            </ul>
                        </p>
                    </div>
                </div>