<div class="row">
                    <div class="leftcolumn">
                        <div class="card">
                            <h2 id="Resources">Helpful Resources to Aid in Your Academic Success</h2>
                            <hr data-content="AND" class="hr-text">
                            <p>
                                <ul>
                                    <li><strong> OSU Writing Center </strong></li>
                                    <p> The Oregon State University Writing Center offers students with writing and research consultations, grammar consultations, writing workshops, as well as general writing feedback. The writing center's consultants are
                                        able to provide aid on all kinds of writing projects, such as: research papers, resumes, cover letters, scholarship applications, and many others. The center is operating completely virtual due to the current pandemic,
                                        and requires a scheduled appointment.
                                        <br>Click the following link to schedule an appointment: <a href="https://osuwritingcenter.as.me/schedule.php"> OSU Writing Center </a> </br>
                                    </p>
                                </ul>
                                <ul>
                                    <li><strong> ASC Strategists </strong></li>
                                    <p> The OSU Academic Success Center provides students with the ability to meet with strategists. These strategists provide students with beneficial resources and tools to help them succeed in their academic endeavors. They
                                        also provide coaching in order to aid students to develop productive studying habits in order perform at their peek capabilities. If you are struggling to communicate with your professors, TA's, classmates, or anyone
                                        else, the strategists can also guide you in reaching out.
                                        <br> ASC Phone Number: 541-737-2272
                                        <br> ASC Text Number: 541-444-5906
                                        <br> ASC Email: success@oregonstate.edu
                                    </p>
                                </ul>

                                <ul>
                                    <li><strong> Student Tech Support Guide </strong></li>
                                    <p> Now that courses are taught completely virtual due to the pandemic protocols, it is imperative you learn how to work your way around Zoom and Canvas. The Student Tech Support Team provides assistance regarding using
                                        virtual learning technologies, as well as tech support to aid in any difficulties you may face. You can contact the OSU service desk over the phone or by submitting help requests.
                                        <br>Click the following link to Submit a Help Request: <a href="https://oregonstate.teamdynamix.com/TDClient/1935/Portal/Requests/TicketRequests/NewForm?ID=Dr9c0T7BaSI_"> OSU Service Desk </a>
                                        <br> Service Desk Number: 541-737-8787
                                    </p>
                                </ul>
                                <ul>
                                    <li><strong> Mathematics & Statistics Learning Center </strong></li>
                                    <p> The Mathematics & Statistics Learning Center at Oregon State University offers students with live as well as personalized tutoring. These tutors are comprised of graduate teaching assistants, highly-skilled undergraduate
                                        students, as well as OSU faculty members. The Mathematics & Statistics Learning Center is currently operating virtually due to COVID-19 protocol, tutoring is offered through Slack as well as over Zoom.
                                        <br>Click the following link to visit the MSLC: <a href="https://osu-mth.slack.com/"> OSU Mathematics & Statistics Learning Center </a> </br>
                                    </p>
                                </ul>
                                <ul>
                                    <li><strong> Counseling & Psychological Services </strong></li>
                                    <p> The OSU Counseling and Psychological Services (CAPS) provides mental health counseling to students. In order to facilitate academic success, it is important to make sure that your mental health comes first. The staff
                                        is comprised of professionals that expertise in specific fields that concerns the majority of college students. The staff includes: staff includes Psychologists, Clinical Social Workers, Professional Counselors,
                                        Pre-doctoral Residents completing the final stages of their doctoral training in Clinical or Counseling Psychology, Psychiatric Residents, and Master's students in Counselor Education.
                                        <br>Click the following link to visit CAPS: <a href="https://counseling.oregonstate.edu/main/about-us"> OSU Counseling & Psychological Services </a>
                                        <br> CAPS Phone Number: 541-737-2131
                                        <br> CAPS Email: caps@oregonstate.edu
                                        <br> Hours of Operation: Monday-Friday From 8am-5pm
                                    </p>
                                </ul>
                            </p>
                        </div>
                    </div>