/* Add a black background color to the top navigation */

.topnav {
    background-color: rgb(35, 35, 35);
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #e76408;
    color: black;
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: #e76408;
    color: white;
}


/* Fonts */

body {
    font-family: "Roboto";
    padding: 20px;
    background: #f1f1f1;
}

p {
    font: 400 1.0rem/1.5 "Roboto";
    color: rgb(0, 0, 0);
}

h1 {
    font: 600 4.0rem/1.2 "Roboto";
    color: rgb(0, 0, 0);
}

h2 {
    font: 450 3.0rem/1.2 "Roboto";
    color: rgb(0, 0, 0);
}

h3 {
    font: 700 1.0rem/1.2 "Roboto";
    color: rgb(0, 0, 0);
}

h3 {
    font: 700 1.0rem/1.2 "Roboto";
    color: rgb(0, 0, 0);
}

.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: #e76408;
}


.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}